/*animaciones*/

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes height-dataContent {
  0% {
    height: 10px;
  }
  100% {
    height: 505px;
  }
}

@keyframes height-dataContentback {
  0% {
    height: 505px;
  }
  100% {
    height: 10px;
  }
}
