@mixin position(
  $type: relative,
  $top: auto,
  $left: auto,
  $right: auto,
  $bottom: auto
) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size(
  $width: auto,
  $height: auto,
  $minWidth: 0,
  $minHeight: 0,
  $maxWidth: 100%,
  $maxHeight: 100%
) {
  width: $width;
  height: $height;
  min-width: $minWidth;
  min-height: $minHeight;
  max-width: $maxWidth;
  max-height: $maxHeight;
  @content;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  @content;
}

@mixin background($color: $transparente, $image: none, $repeat: no-repeat) {
  background-color: $color;
  background-image: $image;
  background-repeat: $repeat;
  @content;
}

@mixin color($color: auto, $font-size: auto) {
  color: $color;
  font-size: $font-size;
  @content;
}

@mixin simple-color(
  $background-color: auto,
  $color: auto,
  $border-color: auto
) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  @content;
}

@mixin media-max-width($size: 250px) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin background-gradient-animationHome(
  $color1: $primario,
  $color2: $rosa,
  $color3: $primario,
  $rotate: 45deg
) {
  background: $color1;
  background: linear-gradient($rotate, $color1, $color2, $color3);
  background-size: 500% 500%;
  @content;
}

@mixin media-max-width-items($rectangle: 0px) {
  @media (max-width: 800px) {
    @include size(auto, auto, 200px + $rectangle, 200px);
  }
  @media (max-width: 500px) {
    @include size(auto, auto, (150px + $rectangle), 150px);
  }
}
