@import "variables";
@import "mixin";
@import "efects";

.header {
  @include size(100%, 200vh);
  @include simple-color($negro-transparente);
  overflow: hidden;

  .aboutMy {
    @include size(100%, 50%);
    @include center-flex;
    margin: 30px auto;

    .fotoContent {
      @include size(clamp(100px, 100%, 500px), auto);
      @include center-flex {
        flex-direction: column;
      }
      padding: 10px 0;
      margin: 10px 10px;

      .fotos {
        @include size(clamp(100px, 90%, 300px), clamp(100px, 90vw, 300px));
        @include center-flex {
          justify-content: flex-start;
        }
        overflow: hidden;
        margin: 25px 0;
        border-radius: 50%;
        border: 4px solid $secundario;
        padding: 0px;

        .foto {
          @include center-flex;
          width: 100%;
          height: 100%;
          min-width: 100%;
          min-height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .buttons {
        @include size(100%);
        @include center-flex;

        .moveImage {
          @include size(15px, 15px);
          @include center-flex;
          margin: 10px;
          color: $negro;
          border-radius: 50%;
          overflow: hidden;

          button {
            @include size(100%, 100%);
            @include center-flex;
            background-color: $secundario;
            margin: auto;
            :first-child {
              background-color: $morado;
            }
          }
        }
        .moveImageActive {
          .button {
            background-color: red;
          }
        }
      }
    }

    .aboutMy_title {
      @include espejo;
      @include size(clamp(200px, 100%, 520px));
      @include center-flex {
        flex-direction: column;
      }
      margin: 10px 10px;
      padding: 10px;
      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $secundario;
        margin: auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $secundario;
      }
      p {
        display: flex;
        flex-direction: column;
        color: $secundario;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $secundario;
      }
    }
  }

  .aboutMy_description {
    @include espejo;
    display: flex;
    width: clamp(200px, 100%, 520px);
    align-content: center;
    margin: auto;
    padding: 10px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      margin: auto;
      color: $secundario;
      padding-bottom: 10px;
      border-bottom: 1px solid $secundario;
    }
  }
}

@media (max-width: 800px) {
  .header-container {
    flex-direction: column;
  }
  .foto {
    order: -1;
    margin: 15px auto;
  }
}

@media (max-width: 1349px) {
  .aboutMy {
    width: clamp(200px, 80%, 550px);
  }
}
