@import "variables";
@import "mixin";
@import "efects";

.header {
  @include size(100%, 200vh);
  @include simple-color($negro-transparente);
  overflow: hidden;

  .aboutMy {
    @include size(100%, 50%);
    @include center-flex {
      flex-wrap: wrap;
    }
    margin: auto;

    .fotoContent {
      @include size(clamp(6.25rem, 100%, 31.25rem), auto);
      @include center-flex {
        flex-direction: column;
      }
      padding: 10px 0;
      margin: 10px 10px;

      .fotos {
        @include size(
          clamp(6.25rem, 90%, 18.75rem),
          clamp(6.25rem, 90vw, 18.75rem)
        );
        @include center-flex {
          justify-content: flex-start;
        }
        overflow: hidden;
        margin: 25px 0;
        border-radius: 50%;
        border: 4px solid $secundario;
        padding: 0px;

        .foto {
          @include center-flex;
          width: 100%;
          height: 100%;
          min-width: 100%;
          min-height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .buttons {
        @include size(100%);
        @include center-flex;

        .moveImage {
          @include size(15px, 15px);
          @include center-flex;
          margin: 10px;
          color: $negro;
          border-radius: 50%;
          overflow: hidden;

          &:first-child button {
            background-color: $morado;
          }
          button {
            @include size(100%, 100%);
            @include center-flex;
            background-color: $secundario;
            margin: auto;

            &:hover {
              cursor: pointer;
              background-color: $morado !important;
            }
          }
        }
      }
      @include media-max-width(67.5625rem) {
        order: -1;
      }
    }

    .aboutMy_title {
      @include espejo;
      @include size(clamp(12.5rem, 100%, 32.5rem));
      @include center-flex {
        flex-direction: column;
      }
      margin: 0.625rem 0.625rem;
      padding: 60px 10px;
      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $secundario;
        margin: auto;
        margin-bottom: 0.625rem;
        padding-bottom: 0.625rem;
        border-bottom: 0.0625rem solid $secundario;
      }
      p {
        display: flex;
        flex-direction: column;
        color: $morado;
        font-weight: bold;
        font-size: 1rem;
        margin: auto;
        margin-top: 0.625rem;
        padding-bottom: 0.625rem;
        border-bottom: 0.0625rem solid $secundario;
      }
    }
  }

  .aboutMy_description {
    @include espejo;
    display: flex;
    width: clamp(12.5rem, 100%, 32.5rem);
    align-content: center;
    margin: auto;
    padding: 0.625rem;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      margin: auto;
      color: $secundario;
      padding-bottom: 0.625rem;
      border-bottom: 0.0625rem solid $secundario;
    }
  }
}

@media (max-width: 50rem) {
  .header-container {
    flex-direction: column;
  }
  .foto {
    order: -1;
    margin: 0.9375rem auto;
  }
}

@media (max-width: 1349px) {
  .aboutMy {
    width: clamp(12.5rem, 80%, 34.375rem);
  }
}

.animatedText {
  height: auto;

  /*This part is important for centering*/
  display: grid;
  place-items: center;

  p {
    width: 22ch;
    animation: typing 6s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.625rem solid;
    font-family: monospace;
    font-size: 1em;
    border-color: $secundario;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}
