@import "variables";
@import "mixin";
@import "efects";

.header {
  @include size(100%, 100%, 100%, 150vh, 100%, 300vh);
  @include simple-color($negro-transparente);
  overflow: hidden;

  .aboutMy {
    @include size(calc(100% - (2 * 1.25rem)), 95vh);
    @include center-flex {
      flex-wrap: wrap;
    }
    margin: auto;
    padding: 1.25rem;

    .fotoContent {
      @include size(clamp(6.25rem, 100%, 31.25rem), auto);
      @include center-flex {
        flex-direction: column;
      }
      padding: 0.625rem 0;
      margin: 0.625rem 0.625rem;

      .fotos {
        @include size(
          clamp(6.25rem, 90%, 18.75rem),
          clamp(6.25rem, 90vw, 18.75rem)
        );
        @include center-flex {
          justify-content: flex-start;
        }
        overflow: hidden;
        margin: 1.5625rem 0;
        border-radius: 50%;
        border: 0.25rem solid $secundario;
        padding: 0rem;

        .foto {
          @include center-flex;
          width: 100%;
          height: 100%;
          min-width: 100%;
          min-height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .buttons {
        @include size(100%);
        @include center-flex;
        margin: 1.5625rem 0;

        .moveImage {
          @include size(0.9375rem, 0.9375rem);
          @include center-flex;
          margin: 0.625rem;
          color: $negro;
          border-radius: 50%;
          overflow: hidden;

          &:first-child button {
            background-color: $morado;
          }
          button {
            @include size(100%, 100%);
            @include center-flex;
            background-color: $secundario;
            margin: auto;

            &:hover {
              cursor: pointer;
              background-color: $morado !important;
            }
          }
        }
      }
      @include media-max-width(70.0625rem) {
        order: -1;
      }
    }

    .aboutMy_title {
      @include espejo;
      @include size(clamp(6.25rem, (100% - (2 * 0.625rem)), 32.5rem));
      @include center-flex {
        flex-direction: column;
      }
      padding: 3.75rem 0.625rem;
      margin: 1.5625rem 0.625rem;

      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $secundario;
        margin: auto;
        margin-bottom: 0.625rem;
        padding-bottom: 0.625rem;
        border-bottom: 0.0625rem solid $secundario;
      }
      p {
        display: flex;
        flex-direction: column;
        color: $secundario;

        font-size: 1rem;
        margin: auto;
        margin-top: 0.625rem;
        padding-bottom: 0.625rem;
        border-bottom: 0.0625rem solid $secundario;
      }
    }
  }

  .aboutMy_description {
    @include size(calc(99% - (2 * 1.25rem)), 55vh);
    @include center-flex {
      flex-direction: column;
    }

    background-color: $negro-transparente;
    margin: auto auto 1.25rem auto;
    padding: 1.25rem;

    p {
      @include size(
        clamp(12.5rem, calc(100% - 2.5rem), 81.25rem),
        auto,
        clamp(12.5rem, calc(100% - 2.5rem), 81.25rem),
        40%,
        100%,
        100%
      );
      overflow: auto;
      padding: 1.25rem;
      @include espejo;
      @include center-flex;
      text-align: center;
      margin: auto;
      color: $secundario;
      @include media-max-width(41.25rem) {
        text-align: justify;
        align-items: flex-start;
        padding: 40px 20px 20px 20px;

      }
    }
  }
}

@media (max-width: 50rem) {
  .header-container {
    flex-direction: column;
  }
  .foto {
    order: -1;
    margin: 0.9375rem auto;
  }
}

@media (max-width: 84.3125rem) {
  .aboutMy {
    width: clamp(12.5rem, 80%, 34.375rem);
  }
}

.animatedText {
  height: auto;

  /*This part is important for centering*/
  display: grid;
  place-items: center;
  overflow: hidden;
  width: 100%;

  p {
    width: 22ch;
    animation: typing 6s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    border-right: 0.625rem solid;
    font-size: 1em;
    border-color: $secundario;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}
