@import "variables";
@import "mixin";
@import "efects";

.map {
  display: flex;
  @include size(max-content, auto, max-content, auto, max-content, auto);
  user-select: none;

  .items {
    @include position(relative);
    @include size(auto, auto, $size-items, $size-items);
    @include media-max-width-items;
    @include simple-color($secundario);
    @include center-flex {
      flex-direction: column;
    }
    margin: auto 0.625rem;
    user-select: none;

    .img {
      @include size(auto, auto, $size-items, $size-items);
      @include media-max-width-items;
      @include position(absolute, 0, 0);
      @include size(100%, 100%);

      z-index: 150;
      &:after {
        content: "";
        @include size(auto, auto, $size-items, $size-items);
        @include media-max-width-items;
        @include position(absolute, 0, 0);
        @include simple-color($transparente, $transparente);
        z-index: 300000;
        transition: top 0.5s;
        &:hover {
          cursor: grab;
        }
      }
      img {
        @include size(auto, auto, $size-items, $size-items);
        @include media-max-width-items;
        @include position(absolute, 0, 0);
        @include center-flex;
        object-fit: cover;

        object-position: 0.0625rem 0.0625rem;
        transition: top 0.5s;
        z-index: 20;
      }
    }

    .name {
      @include size(calc(100% - 1.25rem));
      @include position(absolute, calc((100% - 24px) - 2.5rem));
      @include espejo($color-background-espejo-primario-2);
      padding-left: 1.25rem;
      overflow: inherit;
      z-index: 200;
      h3 {
        @include color($negro, clamp(16px, 2vw, 24px));
        @include center-flex {
          justify-content: flex-start;
        }
        font-size: 22.4px;
        padding: 1.25rem 1.25rem 1.25rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: margin-left 0.5s;
        user-select: none;

        @include media-max-width(5rem) {
          font-size: 19.2px;
        }
      }
    }

    .description {
      @include size(100%);
      @include position(absolute, 0);
      @include espejo;

      transition: top, background-color, 0.5s;

      overflow: inherit;
      z-index: -1;
      visibility: hidden;
      p {
        @include simple-color($transparente, $secundario);

        padding: 0.625rem;
        padding-top: 0.625rem;
        padding-bottom: 0.9375rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        user-select: none;
      }
    }

    .link {
      @include size(calc(100% - 1.25rem), auto);
      margin: 0rem 0.3125rem 0.625rem 0.3125rem;
      border: solid 0.0625rem $secundario;
      border-radius: 0.9375rem;
      overflow: hidden;
      a {
        @include size(100%, 100%);
        @include center-flex;
        @include simple-color($transparente, $secundario);

        padding: 0.5rem;
        cursor: pointer;
        transition: background-color 0.5s;
        user-select: none;
      }
    }

    &:hover {
      cursor: grab;
      overflow: visible;

      .name {
        h3 {
          margin-left: 2.5rem;
        }
      }

      .img {
        img {
          top: -3.125rem;
        }
      }

      .description {
        visibility: visible;
        z-index: 100;
        top: 100%;
        &:hover {
          @include espejo(
            $color-background-espejo-primario-hover,
            $color-borde-espejo-primario
          );
        }
      }
    }

    &:focus {
      cursor: grabbing;
      z-index: 400;
      overflow: visible;

      .name {
        h3 {
          margin-left: 2.5rem;
        }
      }
      .description {
        @include espejo(
          $color-background-espejo-primario-hover,
          $color-borde-espejo-primario
        );
        visibility: visible;
        z-index: 100;
        top: 100%;
        p {
          color: $secundario;
        }
      }
    }

    .link:hover {
      a {
        @include simple-color($color-background-espejo-primario-hover, $negro);
      }
    }

    @include media-max-width($initResponsible) {
      scroll-snap-align: start;
    }
  }

  .FormacionAcademica_item,
  .proyectos_item {
    @include size(auto, auto, $size-width-item-rectangle, $size-items);
    @include media-max-width-items(6.25rem);
    .img {
      @include size(auto, auto, $size-width-item-rectangle, $size-items);
      @include media-max-width-items(6.25rem);
      &:after {
        @include size(auto, auto, $size-width-item-rectangle, $size-items);
        @include media-max-width-items(6.25rem);
      }
      img {
        @include size(auto, auto, $size-width-item-rectangle, $size-items);
        @include media-max-width-items(6.25rem);
      }
    }
  }

  @include media-max-width($initResponsible) {
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 3.125rem;
    padding-top: 2.5rem;
  }
}
