@import "variables";
* {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif !important;
  box-sizing: content-box !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;

  color: $gris;
}

body {
  background-color: rgba(30, 30, 30, 1);
}

/* 
información sacada de la siguiente pagina, 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
solo se saco la siguiente parte del código
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*estilos generales de mensaje de error*/

.errorLoad {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: clamp(1.5rem, 1.5vw, 2rem);
    color: $azulLetra;
  }
  button {
    width: clamp(50px, 10vw, 100px);
    height: clamp(20px, 10vw, 40px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gris;
    color: $naranja;
    &:hover {
      cursor: pointer;
      color: $gris;
      background-color: $naranja;
    }
  }
}

/*animaciones*/

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}
