@import "variables";
@import "mixin";

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.up {
  position: fixed;
  width: 60px;
  height: 60px;

  border-radius: 50%;
  background-color: $secundario;

  z-index: 100;

  left: calc(100% - 70px);
  top: calc(100% - 70px);

  overflow: hidden;
  border: solid 1px $primario;
}
.up > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up:hover > a {
  color: $secundario;
  background-color: $terciario;
}
