@import "variables";
@import "mixin";
@import "efects";
@import "animaciones";

.container_all {
  @include size(100%, auto, 100%, 100px);
  @include position(relative);
  @include simple-color($primario);
  @include center-flex {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  user-select: none;

  overflow: hidden;

  &_Contacto {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include media-max-width(1200px) {
    min-width: 500px;

    &_click {
      width: 100%;
    }
  }
  @include media-max-width(720px) {
    min-width: 300px;
    &_click {
      width: 100%;
    }
  }
  @include media-max-width(320px) {
    min-width: 200px;
    &_click {
      width: 100%;
    }
  }

  .btn_action {
    @include simple-color($transparente);
    @include size(150px, 30px, 150px);
    @include center-flex;
    margin: 10px auto;
    padding: 10px 20px;
    overflow: hidden;
    transition: border, 0.1s;
    border: solid 1px $secundario;

    h2 {
      @include size(100%, 100%);
      @include simple-color($transparente, $azul);
      font-size: clamp(1.5rem, 1vw, 2rem);

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      border-radius: 15px 0;
      cursor: pointer;
    }
    &:focus {
      border-radius: 15px 0;
      cursor: pointer;
    }

    &_Contacto {
      display: flex;
      flex-direction: column;
      align-items: center;

      justify-content: center;
    }
  }
}

.Contacto {
  @include size(90%, auto, 0, 200px);
  margin: auto;
  @include center-flex {
    flex-direction: column;
  }

  .container_previews_Contacto {
    @include size(100%, 80%);
    @include center-flex {
      flex-direction: column;
    }

    @include espejo;
    .Contacto_content,
    .Contacto_h2 {
      margin: 10px auto;
    }
    .Contacto_h2 {
    }
    .Contacto_content {
    }
  }
}

.dataComponent {
  @include size(100%, 10px);
  @include simple-color($primarioSegundo);
  @include position(relative);
  @include center-flex {
    flex-direction: column;
  }
  border: 1px solid;
  border-top-color: $secundario;
  border-bottom-color: $secundario;
  overflow: hidden;
  z-index: 1000;

  .title {
    display: none;
    @include size(100%);
    @include center-flex;
    margin: 30px auto;

    @include media-max-width($initResponsible) {
      margin: 10px auto;
    }
    h3 {
      @include simple-color($transparente, $morado);
      font-size: 2em;
      font-weight: 900;
      border-bottom: 1px solid $azul;
      padding: 10px;
    }
  }
  .data {
    @include size(90%, 0, 0, 0, 0);
    overflow: hidden;

    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 50px;

    @include media-media-data-padding;
    &::-webkit-scrollbar {
      height: 5px;
      background: #000;
    }

    /* Add a thumb */
    &::-webkit-scrollbar-thumb {
      background-color: #aaa; /* or add it to the track */
    }
    &_click {
      @include size(90%);
    }

    @include media-max-width($initResponsible) {
      margin-bottom: 20px;
      overflow-x: scroll;
      &_click {
        overflow-x: scroll;
      }
    }
  }

  .buttons {
    @include center-flex {
      justify-content: flex-end;
    }
    width: 95%;
    height: 0;
    margin: 1.25rem auto;

    button {
      @include size(90px, 100%);
      @include simple-color($transparente, $terciario, $terciario);
      border: solid 1px;
      margin: 10px;
      padding: 0 20px;
      transition: border, background-color, 0.5s;
      &:focus,
      &:hover {
        @include simple-color($transparente, $secundario, $secundario);
        border-radius: 15px 0;
        cursor: pointer;
      }
    }
    &_click {
      height: 50px;
      overflow: visible;
    }

    @include media-max-width($initResponsible) {
      @include position(relative);
      width: 100%;
      height: auto;
      @include center-flex {
        flex-wrap: wrap;
      }

      margin: 10px;
      overflow: hidden;
      padding: 10px;
      button {
        min-width: 150px;
        height: 40px;

        display: inline-block;
        margin: 10px;
        padding: 0 20px;
        transition: border, background-color, 0.5s;
        &:focus,
        &:hover {
          @include simple-color($transparente, $secundario, $secundario);
          border-radius: 15px 0;
          cursor: pointer;
        }
      }

      &_click {
        width: 100%;
        height: auto;
      }
    }
  }

  &_click {
    animation: height-dataContent 0.5s ease-in-out;
    @include size(100%);
    .title {
      display: flex;
    }
  }
  &_click_back {
    animation: height-dataContentback 0.5s ease-in-out;
    @include size(100%, 10px);
    overflow: hidden;
    .title {
      display: none;
    }
  }

  @include media-max-width($initResponsible) {
    margin-bottom: 10px;
  }
}

.ContactoComponent {
  background-color: black;
}
