@import "variables";
@import "mixin";

.nav {
  @include position(fixed);
  @include size(0, 100vh);
  @include simple-color($primarioSegundo);
  z-index: 500;
  overflow: visible;
  transition: width, 0.5s;

  ul {
    @include position(relative, 0, -13.125rem);
    @include size(0);
    display: flex;

    margin: 0 auto;
    margin-top: clamp(5rem, 100%, 7.5rem);
    flex-direction: column;
    transition: width, 0.5s;

    li {
      @include position(relative);
      @include size((clamp(6.25rem, 100%, 16.875rem)), 3.125rem);

      margin: .9375rem auto;
      text-align: center;
      clip-path: polygon(80% 1%, 100% 53%, 80% 100%, 0 100%, 0 0);
      overflow: hidden;
      transition: 0.2s;

      &:hover {
        @include simple-color($terciario);
        transform: translateX(1.25rem);
      }
      &::before {
        content: "";
        @include position(absolute, 0, 0);
        @include simple-color($primario);
        clip-path: polygon(80% 1%, 100% 53%, 80% 100%, 0 100%, 0 0);
        overflow: hidden;
        inset: .125rem;
        z-index: 10;
        overflow: hidden;
      }
      a {
        @include position(relative);
        @include size(100%, 100%);
        display: inline-block;
        z-index: 10;

        button {
          @include size(100%, 100%);
          @include center-flex;
          @include simple-color($transparente, $secundario);
          border-radius: .3125rem;
          
          &:hover {
            @include simple-color($transparente, $terciario);
            cursor: pointer;
          }
        }
      }
    }
    .skills {
      @include simple-color($rosa);
    }
    .hobbies {
      @include simple-color($amarillo);
    }
    .FormacionAcademica {
      @include simple-color($azulFondo);
    }
    .proyectos {
      @include simple-color($morado);
    }
    .Contacto {
      background: rgba(222, 142, 255, 0.93);
      box-shadow: 0 .25rem 1.875rem rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(.5625rem);
      -webkit-backdrop-filter: blur(.5625rem);
    }
  }

  .burgerBtn {
    @include position(fixed, .625rem, .625rem);
    @include size(2.5rem, 2.5rem);
    @include simple-color($primario);
    @include center-flex {
      flex-direction: column;
    }
    padding: .3125rem;
    border: solid .0625rem $terciario;
    z-index: 501;

    .burger {
      @include size(calc(100% - .625rem), calc(40% - .625rem));
      @include simple-color($terciario);
      margin: auto;
    }

    &:hover {
      @include simple-color($terciario, auto, $negro);
      cursor: pointer;
    }

    &:hover .burger {
      @include simple-color($secundario);
    }
  }
}
.complement {
  @include position(fixed, 0, 0, 0, 0);
  @include size(0, 100vh);
  @include simple-color($negro-transparente);
  transform: translateX(0rem);
  z-index: 490;
  transition: width, 0.5s;
}

.navClick {
  @include size(clamp(6.25rem, 90%, 18.75rem), 100vh);
  ul {
    @include size(100%);
    left: 0;
    li {
      height: 2.5rem;
    }
  }
}
.complementClick {
  width: 100%;
}
