@import "variables";
@import "mixin";

.nav {
  @include position(fixed);
  @include size(0, 100vh);
  @include simple-color($primarioOscuro);
  z-index: 500;
  border-right: solid 1px $gris;
  overflow: visible;
  transition: width, 0.5s;

  ul {
    @include position(relative, 0, -210px);
    @include size(0);
    display: flex;

    margin: 0 auto;
    margin-top: clamp(80px, 100%, 120px);
    flex-direction: column;
    transition: width, 0.5s;

    li {
      @include position(relative);
      @include size((clamp(100px, 100%, 270px)), 50px);

      margin: 15px auto;
      text-align: center;
      clip-path: polygon(80% 1%, 100% 53%, 80% 100%, 0 100%, 0 0);
      overflow: hidden;
      transition: 0.2s;

      &:hover {
        @include simple-color($naranja);
        transform: translateX(20px);
      }
      &::before {
        content: "";
        @include position(absolute, 0, 0);
        @include simple-color($primario);
        clip-path: polygon(80% 1%, 100% 53%, 80% 100%, 0 100%, 0 0);
        overflow: hidden;
        inset: 2px;
        z-index: 10;
        overflow: hidden;
      }
      a {
        @include position(relative);
        @include size(100%, 100%);
        display: inline-block;
        z-index: 10;

        button {
          @include size(100%, 100%);
          @include center-flex;
          @include simple-color($transparente, $gris);
          border-radius: 5px;
          font-weight: bold;
          &:hover {
            @include simple-color($transparente, $naranja);
            cursor: pointer;
          }
        }
      }
    }
    .skills {
      @include simple-color($rosa);
    }
    .hobbies {
      @include simple-color($amarillo);
    }
    .FormacionAcademica {
      @include simple-color($azulFondo);
    }
    .proyectos {
      @include simple-color($morado);
    }
    .Contacto {
      background: rgba(222, 142, 255, 0.93);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(9px);
      -webkit-backdrop-filter: blur(9px);
    }
  }

  .burgerBtn {
    @include position(fixed, 10px, 10px);
    @include size(40px, 40px);
    @include simple-color($primario);
    @include center-flex {
      flex-direction: column;
    }
    padding: 5px;
    border: solid 1px $naranja;
    z-index: 501;

    .burger {
      @include size(calc(100% - 10px), calc(40% - 10px));
      @include simple-color($naranja);
      margin: auto;
    }

    &:hover {
      @include simple-color($naranja, auto, $negro);
      cursor: pointer;
    }

    &:hover .burger {
      @include simple-color($gris);
    }
  }
}
.complement {
  @include position(fixed, 0, 0, 0, 0);
  @include size(0, 100vh);
  @include simple-color($negro-transparente);
  transform: translateX(0px);
  z-index: 490;
  transition: width, 0.5s;
}

.navClick {
  @include size(clamp(100px, 90%, 300px), 100vh);
  ul {
    @include size(100%);
    left: 0;
    li {
      height: 40px;
    }
  }
}
.complementClick {
  width: 100%;
}
