@import "variables";

.general-content {
  position: relative;
  z-index: 1;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.items {
  margin: 20px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $secundario;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.25);
}

.items img {
  width: clamp(100px, 100%, 100%);
  height: auto;
  position: relative;
  transition: 0.25s;
  top: 0;

  object-fit: cover;

}

.items p {
  position: absolute;
  top: -100px;
  z-index: -1;
  transition: 0.25s;
  width: calc(100% - 5px);
  background-color: $secundario;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 10px;
  box-sizing: content-box;
  visibility: hidden;
}

.items h3 {
  width: calc(100% - 5px);
  height: 40px;
  background-color: $secundario;
  padding-left: 5px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  transition: 0.25s;
  align-items: center;
  align-content: center;
  top: calc(100% - 40px);
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: $terciario;
}

.items:hover h3 {
  padding-left: 10px;
  width: calc(100% - 10px);
}

.items:hover img {
  top: -35px;
  -webkit-box-shadow: 1px 0px 23px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 0px 23px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0px 23px 0px rgba(0, 0, 0, 0.25);
}

.items:hover p {
  display: flex;
  flex-direction: column;
  justify-content: center;

  visibility: visible;
  top: 100%;
  z-index: 1000;
  -webkit-box-shadow: 10px 0px 23px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 0px 23px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 0px 23px 0px rgba(0, 0, 0, 0.25);
}

.items:hover {
  overflow: visible;
  -webkit-box-shadow: 10px 0px 23px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 0px 23px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 0px 23px 0px rgba(0, 0, 0, 0.25);
}

/*estilos personalizados en base a medidas */
.skill-item {
  min-width: clamp(100px, 100%, 250px);
  max-width: clamp(100px, 100%, 250px);
  object-fit: cover;
}

.hobbies-item {
  min-width: clamp(100px, 100%, 250px);
  max-width: clamp(100px, 100%, 250px);
  height: auto;
  object-fit: cover;
}
.formacionAcademica-item {
  min-width: clamp(100px, 100%, 400px);
  max-width: clamp(100px, 100%, 400px);
  height: auto;
  object-fit: cover;
}
.formacionAcademica-item h3 {
  height: 60px;
  top: calc(100% - 60px);
}
.proyectos-item {
  min-width: clamp(100px, 100%, 400px);
  max-width: clamp(100px, 100%, 400px);
  height: auto;
}
.proyectos-item h3 {
  height: 60px;
  top: calc(100% - 60px);
}
